div {
  width: 30%;
  float: left;
  padding: 5px;
  text-align: right;
}

.pet p {
  color: orange;
  background-color: gray;
}

.animal p {
  text-align: center;
  color: blue;
  background-color: honeydew;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}